:root {
    --French-blue:#0074C9;
    --Dark-blue:#005DAC;
    --Indigo-matt:#084263;
    --Clarinet-blue:#E8F6FF;
    --Bright-blue:#CCE6FF;
    --Pale-yellow:#FFE999;
    --Dark-yellow: #FDA416;
    --Vivid-tangerine:#FFAC99;
    --Mint-green:#99FFE6;
    --Lavender-rose:#FF99DA;
    --Bright-tangerine:#FFDDCC;
    --Bright-orange:#FFEBCC;
    --Watermelon:#FD4C60;
    --Mystic-tangerine:#FF5500;
    --Sea-green:#25C167;
    --Drippy-honey:#EABF23;
    --Black:#111111;
    --Stone:#666666;
    --Gray:#AAAAAA;
    --Silver:#EEEEEE;
    --Super-silver:#F4F4F4;
    --White:#FFFFFF;
}


