<sly data-sly-use.reviews="${'com.java.core.models.ReviewsModel'}"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-test.hasContent="${reviews.reviewsTitle}">
    <section class="reviews-parent-div" id="${reviews.componentId}">
        <div class="reviews-container-main componentSeperator">
            <div class="reviews-head-title">
                <h3 data-sly-element="${reviews.reviewsHeadingDropdown}">${reviews.reviewsTitle}</h3>
            </div>
            <div class="reviews-slider-wrapper">
                <sly data-sly-list.reviewsMultiList="${reviews.reviewsMultifields}">
                    <div
                        class="reviews-grid ${reviewsMultiList.cardName && !reviewsMultiList.cardTitle ? 'container-spacer' : ''}">
                        <div class="spacer" data-sly-test="${reviewsMultiList.cardTitle}">
                            <div class="review-tag">
                                <div class="reviews-title tag-text">${reviewsMultiList.cardTitle}</div>
                            </div>
                        </div>
                        <div class="reviews-sub-title body-text">${reviewsMultiList.cardDescription}</div>
                        <sly data-sly-test="${reviewsMultiList.cardName}">
                            <div class="reviews-divider"></div>
                            <div class="reviews-name body-min-text">${reviewsMultiList.cardName}</div>
                        </sly>
                    </div>
                </sly>
            </div>
        </div>
    </section>
</sly>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"></sly>